:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}
html {
  background: green;
}
@media (prefers-color-scheme: dark) {
  .lightimage {
    display: none !important;
  }
  .darkimageWrapper,
  .darkimage {
    display: block !important;
  }
}
