:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

/* article = darkmode, section = lightmode */
article {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  section {
    display: none !important;
  }

  article {
    display: flex !important;
    background-color: green !important;
  }
}
